/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*common*/
body {
    font-family: 'Open Sans', sans-serif;
}

.big-container {
    width: 85vw;
    margin: auto;
}

h1 {
    font-size: 90px;
    margin-bottom: 40px;
}

a {
    text-decoration: none;
    color: black;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.button {
    display: inline-block;
    background-color: #0061ff;
    color: white;
    line-height: normal;
    padding: 5px 15px;
}

/*float */
.logo, .nav-sx, .txt {
    float: left;
}

.nav-dx, .foto {
    float: right;
}

/*display-inline*/
.logo ,.nav-dx, .nav-sx ,.nav-dx li , .nav-sx li, .foto, .txt {
    display: inline-block;
}

/*header*/
header {
    width: 100%;
    height: 60px;
    line-height: 60px;
    position: fixed;
    z-index: 10;
    top: 0;
    background-color: white;
}

.header {
    margin: 0px 20px;
}

.logo img, .nav-sx li, .nav-dx li {
    vertical-align: middle;
}

.logo, .nav-sx li {
    margin-right: 40px;
}

.nav-dx li {
    margin-left: 40px;
}

/*main*/
.secchiello {
    background-color: #b4d0e7;
}

main > section {
    padding-top: 100px;
}

.foto {
    width: 70%;
}

.jumbo {
    max-width: 100%;
}

.txt-ontop {
    width: 30%;
}

.marginbutton {
    margin: 20px 0px 15px 0px;
}

.arrow {
    margin-top: 50px;
    font-size: 60px;
}


